html{
  min-height: 100vh;
  width: 100%;
  /* background: red; */
}
body {
  /* background-color: rgb(28, 36, 55); */
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* border: 5px solid #b6ff00; */
  background-image: linear-gradient(to bottom, #ff0092, #c86ee9, #62a1ff, #00c0ff, #59d2dd);
  /* font-family: Verdana; */
  color: rgba(173, 179, 195, 1);
}

h1{
  font-family: Helvetica, Arial;
}
a {
  color: #fff;
  text-decoration: none;
}

#title, #body{
  color: rgba(173, 179, 195, 1);
}

#side-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: solid 2px cyan; */
}
#lower{
  margin-top: 3px;
}
#new-btn{
  font: 40px Helvetica;
  display: inline-block;
  text-align: right;
  cursor: pointer;
  /* border: solid 2px red; */
}

#sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  color: #fff;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  visibility: hidden;
}

#clicked-body{
  font-size: 16px;
  color: rgba(173, 179, 195, 1);
  width: 100%;
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
  padding: 0px;
  line-height: 1.5;
  box-shadow: 2px 2px 8px rgba(white, .9);
}

#sidebar h2{
  display: inline-block;
  width: 100%;
}

#main, h1 {
  margin-top: 10px;
    margin-left: 310px; /* Same as the width of the sidebar */
    padding: 5px 10px;
    padding-right: 50px;
}

#container {
  border: 5px solid #228DFF;

}
.new-form, .note-div{
  max-width: 700px;
  margin: auto 0;
}
.note-body{white-space: pre-wrap;}
.note-div .button-outline:nth-of-type(2){margin-left: 20px}
